{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/1387/1387537.svg">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Python - Blog - {{ title }}</title>
    {% else %}
        <title>Python-Blog</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<header class="site-header">

    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">

            <a class="navbar-brand mr-4" href="{% url 'home-page' %}"> Pyth<i class="fa fa-drupal"></i>n-Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'home-page' %}"><i class="fa fa-home"></i> Home</a>
                    <a class="nav-item nav-link" href="{% url 'about-page' %}"><i class="fa fa-user"></i> About</a>
                    <a class="nav-item nav-link" href="{% url 'news-page' %}"><i class="fa fa-newspaper-o"></i>
                        PythonNews</a>
                    <a class="nav-item nav-link" href="{% url 'contact-page' %}"><i class="fa fa-address-book"></i>
                        Contact</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">

                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i>
                            Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}"><i class="fa fa-registered"></i>Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

</header>
<main role="main" class="container">

    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }} ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
            <style type="text/css">
                body {
                }

                .clock {
                    position: absolute;
                    top: 60px;
                    transform: translateX(-5%) translateY(-95%);
                    color: #3c3434;
                    font-size: 230%;
                }

            </style>
            <div id="MyClockDisplay" class="clock"></div>
            <script type="text/javascript">

                function showTime() {
                    let date = new Date();
                    let h = date.getHours(); // 0 - 23
                    let m = date.getMinutes(); // 0 - 59
                    let s = date.getSeconds(); // 0 - 59
                    let session = "AM";

                    {#if (h >= 12) {#}
                    {#    h = h - 12;#}
                    {#    session = "PM";#}

                    {#if (h === 0) {#}
                    {#    h = 12;#}

                    {##}
                    h = (h < 10) ? "0" + h : h;
                    m = (m < 10) ? "0" + m : m;
                    s = (s < 10) ? "0" + s : s;
                    let time = h + ":" + m + ":" + s + " " + session;
                    document.getElementById("MyClockDisplay").innerText = time;
                    document.getElementById("MyClockDisplay").textContent = time;

                    setTimeout(showTime, 1000);
                }

                showTime();
            </script>
        </div>
    </div>
</main>


</body>
</html>