{% extends 'blog/base.html' %}
{% block body %}

    <style>
        h2 {
            text-align: center
        }

        .center {
            margin: 0;
            position: absolute;
            top: 20%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        button {
            width: 500px;
            height: 40px;

        }

    </style>
    <div class="center">
        <a class="nav-item nav-link" href="{% url 'home-page' %}">
            <button name="text" class="test" type="button">Back to home page</button>
        </a>
    </div>

    <body>
    <div>
        <h2 style="color: white">Thank you for contacting us!</h2>

    </div>
    {% block python_tricks %}{% endblock %}

{% endblock %}